<div class="preloader">
  <div class="loader">
    <div class="ytp-spinner">
      <div class="ytp-spinner-container">
        <div class="ytp-spinner-rotator">
          <div class="ytp-spinner-left">
            <div class="ytp-spinner-circle"></div>
          </div>
          <div class="ytp-spinner-right">
            <div class="ytp-spinner-circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--====== PRELOADER PART ENDS ======-->

<!--====== HEADER PART START ======-->

<header class="header-area">
  <div class="navbar-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html">
              <img src="../assets/images/logo.svg" alt="Logo">

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
              <ul id="nav" class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="page-scroll" href="#home">Главная</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#features">Features</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#facts">Why</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#team">Team</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#blog">Blog</a>
                </li>
              </ul>
            </div> <!-- navbar collapse -->

            <div class="navbar-btn d-none d-sm-inline-block">
              <a class="main-btn" data-scroll-nav="0" href="#pricing">Войти в кабинет</a>
            </div>
          </nav> <!-- navbar -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </div> <!-- navbar area -->

  <div id="home" class="header-hero bg_cover" style="background-image: url('../assets/images/banner-bg.svg')">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="header-hero-content text-center">
            <h3 class="header-sub-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Colourizen</h3>
            <h2 class="header-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">AI-сервис, который делает ЧБ снимки цветными</h2>
            <p class="text wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
<!--            <a href="#" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="1.1s">Get Started</a>-->
          </div> <!-- header hero content -->
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="header-hero-image text-center wow fadeIn" data-wow-duration="1.3s" data-wow-delay="1.4s">
            <app-uploader></app-uploader>
          </div> <!-- header hero image -->
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
    <div id="particles-1" class="particles"></div>
  </div> <!-- header hero -->
</header>

<!--====== HEADER PART ENDS ======-->

<!--====== BRAMD PART START ======-->

<!--<div class="brand-area pt-90">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-12">-->
<!--        <div class="brand-logo d-flex align-items-center justify-content-center justify-content-md-between">-->
<!--          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">-->
<!--            <img src="assets/images/brand-1.png" alt="brand">-->
<!--          </div> &lt;!&ndash; single logo &ndash;&gt;-->
<!--          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">-->
<!--            <img src="assets/images/brand-2.png" alt="brand">-->
<!--          </div> &lt;!&ndash; single logo &ndash;&gt;-->
<!--          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.3s">-->
<!--            <img src="assets/images/brand-3.png" alt="brand">-->
<!--          </div> &lt;!&ndash; single logo &ndash;&gt;-->
<!--          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.4s">-->
<!--            <img src="assets/images/brand-4.png" alt="brand">-->
<!--          </div> &lt;!&ndash; single logo &ndash;&gt;-->
<!--          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">-->
<!--            <img src="assets/images/brand-5.png" alt="brand">-->
<!--          </div> &lt;!&ndash; single logo &ndash;&gt;-->
<!--        </div> &lt;!&ndash; brand logo &ndash;&gt;-->
<!--      </div>-->
<!--    </div>   &lt;!&ndash; row &ndash;&gt;-->
<!--  </div> &lt;!&ndash; container &ndash;&gt;-->
<!--</div>-->

<!--====== BRAMD PART ENDS ======-->

<!--====== SERVICES PART START ======-->

<section id="features" class="services-area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-title text-center pb-40">
          <div class="line m-auto"></div>
          <h3 class="title">Colorize.cc - AI-сервис, <span> который раскрашивает черно-белые фото и видео</span></h3>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="services-icon">
            <img class="shape" src="assets/images/services-shape.svg" alt="shape">
            <img class="shape-1" src="assets/images/services-shape-1.svg" alt="shape">
            <i class="lni-baloon"></i>
          </div>
          <div class="services-content mt-30">
            <h4 class="services-title"><a href="#">Clean</a></h4>
            <p class="text">Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor invidunt labore.</p>
            <a class="more" href="#">Learn More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single services -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="services-icon">
            <img class="shape" src="assets/images/services-shape.svg" alt="shape">
            <img class="shape-1" src="assets/images/services-shape-2.svg" alt="shape">
            <i class="lni-cog"></i>
          </div>
          <div class="services-content mt-30">
            <h4 class="services-title"><a href="#">Robust</a></h4>
            <p class="text">Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor invidunt labore.</p>
            <a class="more" href="#">Learn More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single services -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-8">
        <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
          <div class="services-icon">
            <img class="shape" src="assets/images/services-shape.svg" alt="shape">
            <img class="shape-1" src="assets/images/services-shape-3.svg" alt="shape">
            <i class="lni-bolt-alt"></i>
          </div>
          <div class="services-content mt-30">
            <h4 class="services-title"><a href="#">Powerful</a></h4>
            <p class="text">Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor invidunt labore.</p>
            <a class="more" href="#">Learn More <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single services -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== SERVICES PART ENDS ======-->

<!--====== ABOUT PART START ======-->

<section id="about" class="about-area pt-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="section-title">
            <div class="line"></div>
            <h3 class="title">Восстановление <span>фото</span></h3>
          </div> <!-- section title -->
          <p class="text">Colorizen восстанавливает фото - удаляет шум, восстанавливает лицо, общее восстановление.</p>
<!--          <a href="#" class="main-btn">Try it Free</a>-->
        </div> <!-- about content -->
      </div>
      <div class="col-lg-6">
        <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
          <two-up class="my-two-up">
            <div>
              <img src="assets/images/bw_1.jpg" alt="" />
            </div>
            <div>
              <img src="assets/images/bw_2.jpg" alt="" />
            </div>
          </two-up>
        </div> <!-- about image -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
  <div class="about-shape-1">
    <img src="assets/images/about-shape-1.svg" alt="shape">
  </div>
</section>

<!--====== ABOUT PART ENDS ======-->

<!--====== ABOUT PART START ======-->

<section class="about-area pt-70">
  <div class="about-shape-2">
    <img src="assets/images/about-shape-2.svg" alt="shape">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-last">
        <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="section-title">
            <div class="line"></div>
            <h3 class="title">Окрашивание черно-белых видео<span> (в платном тарифе)</span></h3>
          </div> <!-- section title -->
          <p class="text">Colorizen умеет раскрашивать видео.</p>
<!--          <a href="#" class="main-btn">Try it Free</a>-->
        </div> <!-- about content -->
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
          <two-up class="my-two-up">
            <div>
              <img src="assets/images/bw_3.jpg" alt="" />
            </div>
            <div>
              <img src="assets/images/bw_4.jpg" alt="" />
            </div>
          </two-up>
        </div> <!-- about image -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>


<!--====== ABOUT PART START ======-->

<section class="about-area pt-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="section-title">
            <div class="line"></div>
            <h3 class="title"><span>Crafted for</span> SaaS, App and Software Landing Page</h3>
          </div> <!-- section title -->
          <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing.</p>
<!--          <a href="#" class="main-btn">Try it Free</a>-->
        </div> <!-- about content -->
      </div>
      <div class="col-lg-6">
        <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
          <img src="assets/images/about3.svg" alt="about">
        </div> <!-- about image -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
  <div class="about-shape-1">
    <img src="assets/images/about-shape-1.svg" alt="shape">
  </div>
</section>

<!--====== ABOUT PART ENDS ======-->


<!--====== ABOUT PART ENDS ======-->

<!--====== VIDEO COUNTER PART START ======-->

<section id="facts" class="video-counter pt-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="video-content mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
          <img class="dots" src="assets/images/dots.svg" alt="dots">
          <div class="video-wrapper">
            <div class="video-image">
              <img src="assets/images/video.png" alt="video">
            </div>
            <div class="video-icon">
              <a href="https://www.youtube.com/watch?v=r44RKWyfcFw" class="video-popup"><i class="lni-play"></i></a>
            </div>
          </div> <!-- video wrapper -->
        </div> <!-- video content -->
      </div>
      <div class="col-lg-6">
        <div class="counter-wrapper mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
          <div class="counter-content">
            <div class="section-title">
              <div class="line"></div>
              <h3 class="title">А как <span> это работает?</span></h3>
            </div> <!-- section title -->
            <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          </div> <!-- counter content -->
          <div class="row no-gutters">
            <div class="col-4">
              <div class="single-counter counter-color-1 d-flex align-items-center justify-content-center">
                <div class="counter-items text-center">
                  <span class="count"><span class="counter">96</span>%</span>
                  <p class="text">точность</p>
                </div>
              </div> <!-- single counter -->
            </div>
            <div class="col-4">
              <div class="single-counter counter-color-2 d-flex align-items-center justify-content-center">
                <div class="counter-items text-center">
                  <span class="count"><span class="counter">10 </span> сек.</span>
                  <p class="text">ср.время обработки</p>
                </div>
              </div> <!-- single counter -->
            </div>
            <div class="col-4">
              <div class="single-counter counter-color-3 d-flex align-items-center justify-content-center">
                <div class="counter-items text-center">
                  <span class="count"><span class="counter">10</span></span>
                  <p class="text">фото обработано</p>
                </div>
              </div> <!-- single counter -->
            </div>
          </div> <!-- row -->
        </div> <!-- counter wrapper -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== VIDEO COUNTER PART ENDS ======-->

<!--====== TEAM PART START ======-->

<section id="team" class="team-area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="section-title text-center pb-30">
          <div class="line m-auto"></div>
          <h3 class="title">Команда разработки</h3>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-7 col-sm-8">
        <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="team-image">
            <img src="assets/images/team-1.png" alt="Team">
            <div class="social">
              <ul>
                <li><a href="#"><i class="lni-github-original"></i></a></li>
                <li><a href="#"><i class="lni-instagram-filled"></i></a></li>
                <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content">
            <h5 class="holder-name"><a href="#">Кириченко Сергей</a></h5>
            <p class="text">UX/UI дизайнер, Frontend разработчик</p>
          </div>
        </div> <!-- single team -->
      </div>
      <div class="col-lg-3 col-md-7 col-sm-8">
        <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="team-image">
            <img src="assets/images/team-2.png" alt="Team">
            <div class="social">
              <ul>
                <li><a href="#"><i class="lni-github-original"></i></a></li>
                <li><a href="#"><i class="lni-instagram-filled"></i></a></li>
                <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content">
            <h5 class="holder-name"><a href="#">Максим Колесников</a></h5>
            <p class="text">DSML инженер, неповторимый оригинал</p>
          </div>
        </div> <!-- single team -->
      </div>
      <div class="col-lg-3 col-md-7 col-sm-8">
        <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
          <div class="team-image">
            <img src="assets/images/team-3.png" alt="Team">
            <div class="social">
              <ul>
                <li><a href="#"><i class="lni-github-original"></i></a></li>
                <li><a href="#"><i class="lni-instagram-filled"></i></a></li>
                <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content">
            <h5 class="holder-name"><a href="#">Карманов Адильбек</a></h5>
            <p class="text">DSML инженер</p>
          </div>
        </div> <!-- single team -->
      </div>

      <div class="col-lg-3 col-md-7 col-sm-8">
        <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
          <div class="team-image">
            <img src="assets/images/team-4.png" alt="Team">
            <div class="social">
              <ul>
                <li><a href="#"><i class="lni-github-original"></i></a></li>
                <li><a href="#"><i class="lni-instagram-filled"></i></a></li>
                <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content">
            <h5 class="holder-name"><a href="#">Мырзабек Дархан</a></h5>
            <p class="text">в семье не без урода
            <br>
              жалкая пародия
            </p>
          </div>
        </div> <!-- single team -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== TEAM PART ENDS ======-->

<!--====== TESTIMONIAL PART START ======-->

<section id="testimonial" class="testimonial-area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="section-title text-center pb-40">
          <div class="line m-auto"></div>
          <h3 class="title">Отзывы<span> пользователей</span></h3>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->
    <div class="row testimonial-active wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.8s">
      <div class="col-lg-4">
        <div class="single-testimonial">
          <div class="testimonial-review d-flex align-items-center justify-content-between">
            <div class="quota">
              <i class="lni-quotation"></i>
            </div>
            <div class="star">
              <ul>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
              </ul>
            </div>
          </div>
          <div class="testimonial-text">
            <p class="text">Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor invidunt labore.Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu.</p>
          </div>
          <div class="testimonial-author d-flex align-items-center">
            <div class="author-image">
              <img class="shape" src="assets/images/textimonial-shape.svg" alt="shape">
              <img class="author" src="assets/images/author-1.png" alt="author">
            </div>
            <div class="author-content media-body">
              <h6 class="holder-name">Jenny Deo</h6>
              <p class="text">CEO, SpaceX</p>
            </div>
          </div>
        </div> <!-- single testimonial -->
      </div>
      <div class="col-lg-4">
        <div class="single-testimonial">
          <div class="testimonial-review d-flex align-items-center justify-content-between">
            <div class="quota">
              <i class="lni-quotation"></i>
            </div>
            <div class="star">
              <ul>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
              </ul>
            </div>
          </div>
          <div class="testimonial-text">
            <p class="text">Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor invidunt labore.Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu.</p>
          </div>
          <div class="testimonial-author d-flex align-items-center">
            <div class="author-image">
              <img class="shape" src="assets/images/textimonial-shape.svg" alt="shape">
              <img class="author" src="assets/images/author-2.png" alt="author">
            </div>
            <div class="author-content media-body">
              <h6 class="holder-name">Marjin Otte</h6>
              <p class="text">UX Specialist, Yoast</p>
            </div>
          </div>
        </div> <!-- single testimonial -->
      </div>
      <div class="col-lg-4">
        <div class="single-testimonial">
          <div class="testimonial-review d-flex align-items-center justify-content-between">
            <div class="quota">
              <i class="lni-quotation"></i>
            </div>
            <div class="star">
              <ul>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
              </ul>
            </div>
          </div>
          <div class="testimonial-text">
            <p class="text">Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor invidunt labore.Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu.</p>
          </div>
          <div class="testimonial-author d-flex align-items-center">
            <div class="author-image">
              <img class="shape" src="assets/images/textimonial-shape.svg" alt="shape">
              <img class="author" src="assets/images/author-3.png" alt="author">
            </div>
            <div class="author-content media-body">
              <h6 class="holder-name">David Smith</h6>
              <p class="text">CTO, Alphabet</p>
            </div>
          </div>
        </div> <!-- single testimonial -->
      </div>
      <div class="col-lg-4">
        <div class="single-testimonial">
          <div class="testimonial-review d-flex align-items-center justify-content-between">
            <div class="quota">
              <i class="lni-quotation"></i>
            </div>
            <div class="star">
              <ul>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
                <li><i class="lni-star-filled"></i></li>
              </ul>
            </div>
          </div>
          <div class="testimonial-text">
            <p class="text">Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu eirmod tempor invidunt labore.Lorem ipsum dolor sit amet,consetetur sadipscing elitr, seddiam nonu.</p>
          </div>
          <div class="testimonial-author d-flex align-items-center">
            <div class="author-image">
              <img class="shape" src="assets/images/textimonial-shape.svg" alt="shape">
              <img class="author" src="assets/images/author-2.png" alt="author">
            </div>
            <div class="author-content media-body">
              <h6 class="holder-name">Fajar Siddiq</h6>
              <p class="text">COO, MakerFlix</p>
            </div>
          </div>
        </div> <!-- single testimonial -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== TESTIMONIAL PART ENDS ======-->

<!--====== BLOG PART START ======-->

<section id="blog" class="blog-area pt-120">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title pb-35">
          <div class="line"></div>
          <h3 class="title"><span>Советуем</span> ознакомиться</h3>
        </div> <!-- section title -->
      </div>
    </div> <!-- row -->
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7">
        <div class="single-blog mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="blog-image">
            <img src="assets/images/blog-1.jpg" alt="blog">
          </div>
          <div class="blog-content">
            <p class="text">Как работает окрашивание видео?</p>
            <a class="more" href="#">Узнать <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single blog -->
      </div>
      <div class="col-lg-4 col-md-7">
        <div class="single-blog mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="blog-image">
            <img src="assets/images/blog-2.jpg" alt="blog">
          </div>
          <div class="blog-content">

            <p class="text">Корпоративные решения</p>
            <a class="more" href="#">Узнать <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single blog -->
      </div>
      <div class="col-lg-4 col-md-7">
        <div class="single-blog mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
          <div class="blog-image">
            <img src="assets/images/blog-3.jpg" alt="blog">
          </div>
          <div class="blog-content">

            <p class="text">Политика конфиденциальности</p>
            <a class="more" href="#">Узнать <i class="lni-chevron-right"></i></a>
          </div>
        </div> <!-- single blog -->
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== BLOG PART ENDS ======-->

<!--====== FOOTER PART START ======-->

<footer id="footer" class="footer-area pt-120">
  <div class="container">
    <div class="subscribe-area wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
      <div class="row">
        <div class="col-lg-6">
          <div class="subscribe-content mt-45">
            <h2 class="subscribe-title"><span>Подпишись на обновления!</span></h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="subscribe-form mt-50">
            <form action="#">
              <input type="text" placeholder="Почту сюда">
              <button class="main-btn">Подписаться!</button>
            </form>
          </div>
        </div>
      </div> <!-- row -->
    </div> <!-- subscribe area -->
    <div class="footer-widget pb-100">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="footer-about mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <a class="logo" href="#">
              <img src="assets/images/logo.svg" alt="logo">
            </a>
            <p class="text">AI-сервис, который раскрашивает черно-белые фото и видео. Разработано с любовью</p>
            <ul class="social">
              <li><a href="#"><i class="lni-github-original"></i></a></li>
              <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
            </ul>
          </div> <!-- footer about -->
        </div>
        <div class="col-lg-5 col-md-7 col-sm-7">
          <div class="footer-link d-flex mt-50 justify-content-md-between">
            <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="footer-title">
                <h4 class="title">Главное</h4>
              </div>
              <ul class="link">
                <li><a href="#">Road Map</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Refund Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Pricing</a></li>
              </ul>
            </div> <!-- footer wrapper -->
            <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="footer-title">
                <h4 class="title">Разделы</h4>
              </div>
              <ul class="link">
                <li><a href="#">Home</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div> <!-- footer wrapper -->
          </div> <!-- footer link -->
        </div>
        <div class="col-lg-3 col-md-5 col-sm-5">
          <div class="footer-contact mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
            <div class="footer-title">
              <h4 class="title">Связаться</h4>
            </div>
            <ul class="contact">
              <li>help@colorizen.io</li>
              <li>colorizen.io</li>
              <li>Abylai Khan, 1/1 <br> Kaskelen, Kazakhstan.</li>
            </ul>
          </div> <!-- footer contact -->
        </div>
      </div> <!-- row -->
    </div> <!-- footer widget -->

  </div> <!-- container -->
  <div id="particles-2"></div>
</footer>

<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TOP TOP PART START ======-->

<a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>
